<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Page</title>
    <link rel="stylesheet" href="/static/CSS_Style/styles.css">
</head>
<body>
    <header>
        <h1>Download Page</h1>
        
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contacts">Contact</a></li>
                <li><a href="/terms">Terms of Service</a></li>
            </ul>
        </nav>

    </header>

    <main>
        <h2>Available Downloads</h2>
        <ul>
            <li><a href="#">Jailbreak .pkg file (Comming soon)</a></li>
            <li><a href="#">Archive .rar (coming soon)</a></li>
            <li><a href="#">Download with XMB Tool</a></li>
        </ul>
    </main>

    <footer>
        <p>&copy; 2026 WantersV1 Website. All rights reserved.</p>
    </footer>
</body>
</html>
