<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WantersV1 Website</title>
    <link rel="stylesheet" href="/static/CSS_Style/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to WantersV1 Website</h1>
        <nav>
            <ul>
                <li><a href="/download">Download</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contacts">Contact</a></li>
                <li><a href="/terms">Terms of Service</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>WantersV1</h2>
        <p>WantersV1 is created by GabiMinecraft02 rainbownicoV2_- and Las_81YT</p>
        <strong>All rights reserved.</strong>
        <p>It is a website that allows users to download various resources and tools.</p>
        <p>Feel free to explore the website and find what you need!</p>
    </main>

    <footer>
        <p>&copy; 2026 WantersV1 Website. All rights reserved.</p>
    </footer>
</body>
</html>
